.aboutMeContent {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 50px;
}

.aboutMeHeader {
    font-size: 25px;
    font-weight: bold;
}

.experience {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .experience {
      flex-direction: column;
    }
  }